@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
   font-size: 20px;
   background: url('/images/background.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

/* ==============Main Page================ */

.main{
    position: relative; 
    width: 100%; /* for IE 6 */
    margin: 0 auto;
    height: 100%;
}

.mainpage{
    width: 100%;
    height: 100%;
}

.mainpage h1{
    color: bisque;
    margin-top: 200px;
    font-family: cursive;
    font-weight:800;
    font-size: 100px;
}

.mainpage h2{
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    color:#00d4ff;
    font-weight: bold;
}

.main button{
    background-color: burlywood;
    transform: translate(290%,150%);
}

.mainpage strong{
    color: chocolate;
    font-family: 'Courier New', Courier, monospace;
}

/* ==============End of Main Page================== */

/* ================ Gallery==================== */
.gallery {
    margin-top: 0;
}

.gallery img{
    width: 500px;
    height: 400px;
}

.gallery h1{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
    font-size: 90px;
    padding-top: 150px;
}

.btnbox{
    margin-top: 80px;
    margin-left: 550px;
}

.btn2{
    background-color: coral;
    padding-top:200px;
}

.gallery .row{
    padding-top: 150px;
}
.column2 h1{
   color:teal;
}
.column2 {
    visibility: hidden;
}

.column1 img{
    box-shadow: 5px 10px 18px grey;
}
/* ================= End of Gallery =================== */

/* ================= Last page ================ */

#card-front {
    color: #FFDFDF;
  }
  
#card, #card-front, #card-inside {
    top:15px;
    height: 591px;
 }
  
.wrap {
    padding: 1.5em 2.5em;
    height: 100%;
}

#card-front, #card-inside {
width: 50%;
-webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
position: absolute;
left: 50%;
}

#card-inside .wrap {
    background: #FFEFEF;
    -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
}
#card {
    max-width: 960px;
    margin: 0 auto;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 5000px;
    -webkit-perspective: 5000px;
    position: relative;
}

#card h1 {
    text-align: center;
    font-family: 'Nobile', sans-serif;
    font-style: italic;
    font-size: 70px;
    text-shadow: 
        4px 4px 0px rgba(0, 0, 0, .15),
        1px 1px 0 rgba(255, 200, 200, 255),
        2px 2px 0 rgba(255, 150, 150, 255),
        3px 3px 0 rgba(255, 125, 125, 255);
    color: #FFF;
}
#card-inside {
    font-size: 1.1em;
    line-height: 1.4;
    font-family: 'Nobile';
    color: #331717;
    font-style: italic;
}

p {
    margin-top: 1em;
}

p:first-child {
    margin-top: 0;
}

p.signed {
    margin-top: 1.5em;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
}

#card-front {
    background-image: url('/images/birthday/pic3.jpg');
    background-image: url('/images/birthday/pic3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
            transform-origin: left;
    -webkit-transform-origin: left;
            transition:transform 1s linear;
    -webkit-transition:-webkit-transform 1s linear;
    position: relative;
}

#card-front .wrap {
            transition: background 1s linear;
    -webkit-transition: background 1s linear;
}

#card-front button {
position: absolute;
bottom: 1em;
right: -12px;
background: #F44;
color: #FFF;
font-family: 'Nobile', sans-serif;
font-style: italic;
font-weight: bold;
font-size: 1.5em;
padding: .5em;
border: none;
cursor: pointer;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
}

#card-front button:hover,
#card-front button:focus {
background: #F22;
}

#close {
display: none;
}

#card.open-fully #close,
#card-open-half #close {
display: inline;
}

#card.open-fully #open {
display: none;
}


#card.open-half #card-front,
#card.close-half #card-front {
            transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
}
#card.open-half #card-front .wrap {
    background-color: rgba(0, 0, 0, .5);
}

#card.open-fully #card-front,
#card.close-half #card-front {
    background: #FFEFEF;
    background:url('/images/birthday/photo7.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#card.open-fully #card-front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

#card.open-fully #card-front .wrap {
    background-color: rgba(0, 0, 0, 0);
}

#card.open-fully #card-front .wrap *,
#card.close-half #card-front .wrap * {
    display: none;
}

.btn3{
    background-color:coral;
    font-size: 30px;
}

/* ================= End of last page ======================== */